# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/themes/twentytwentyfive/
web/app/themes/hello-elementor/
web/app/themes/localdev-sfgmedicare-hello-theme-child/
web/app/themes/sfgmedicare-hello-theme-child/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/cache/*
sql/
web/*.sh

# WordPress
web/wp
web/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor
auth.json

# WP-CLI
wp-cli.local.yml

# Misc
project.sublime-*
